<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>牌組列表 - Deck Simulator</title>
        <!-- Fav Icon --> 
        <link rel="icon" type="image/x-icon" href="../../img/icon/favicon.ico">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap.min.css" integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css" integrity="sha512-t7Few9xlddEmgd3oKZQahkNI4dS6l80+eGEzFQiqtyVYdvcSG2D3Iub77R20BdotfRPA9caaRkg1tyaJiPmO0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../../lib/bootstrap-advanced/dist/css/bootstrap-advanced.css" />

        <!-- DataTables -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/dataTables.bootstrap.min.css" integrity="sha512-BMbq2It2D3J17/C7aRklzOODG1IQ3+MHw3ifzBHMBwGO/0yUqYmsStgBjI0z5EYlaDEFnvYV7gNYdD3vFLRKsA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Font -->
        <link rel="style" href="../../css/font.css" />

        <!-- Pace JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/themes/black/pace-theme-corner-indicator.min.css" integrity="sha512-Sw1bYhQEJHBRAeN/msPV69F86ym8J8688azVEO4shDQDh7ww0gqCk+8XSUYLcQbjLru/QkH+fTRvwT+SmDACAQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Main Css -->
        <link rel="style" href="../../css/zh-TW/decklist.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../zh-TW/decklist">Deck Simulator</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">牌組列表</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <ul class="list-unstyled row g-3 p-0 m-0 mb-3" id="deckList">
                    <li class="col-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card-body position-relative pt-card">
                                <button class="btn btn-outline-light border-0 shadow-none outline-0 d-flex justify-content-center align-items-center position-absolute top-0 end-0 bottom-0 start-0 p-0 m-0" type="button" data-bs-toggle="modal" data-bs-target="#createDeckModal">
                                    <i class="bi bi-plus-lg fs-1"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 新建牌組 -->
            <div class="modal fade" id="createDeckModal" tabindex="-1" aria-labelledby="createDeckModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="" id="createDeckForm">
                            <div class="modal-header border-0">
                                <h5 class="modal-title" id="createDeckModalLabel">新建牌組</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-floating">
                                    <input class="form-control deck-name" type="text" placeholder="自訂牌組名稱" maxlength="20" onkeydown="return event.key !== 'Enter';">
                                    <label>牌組名稱</label>
                                </div>
                                <p class="small text-muted px-1 m-0">最多可輸入 20 個字</p>
                            </div>
                            <div class="modal-footer border-0">
                                <button class="btn btn-primary w-100" type="button" onclick="createDeck(this)">新建</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

             <!-- 編輯牌組 -->
            <div class="modal fade" id="editDeckModal" tabindex="-1" aria-labelledby="editDeckModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="editDeckModalLabel">編輯牌組</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <button class="btn btn-outline-light w-100 border" type="button" data-bs-toggle="modal" data-bs-target="#cardModal">
                                <i class="bi bi-plus-lg"></i>
                            </button>
                            <table class="table">
                                <thead>

                                </thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary w-100" type="button" onclick="saveDeck(this)">保存</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 卡片內容 -->
            <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="editDeckModalLabel">卡片</h5>
                            <button class="btn-close" type="button" data-bs-toggle="modal" data-bs-target="#editDeckModal"></button>
                        </div>
                        <div class="modal-body">
                            <form id="cardForm">
                                <div class="row align-items-center mb-3">
                                    <label class="col-auto">卡片名稱</label>
                                    <div class="col">
                                        <input class="form-control" type="text" id="cardName" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Jquery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <!-- Jquery Cookie -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.min.js" integrity="sha512-zKeerWHHuP3ar7kX2WKBSENzb+GJytFSBL6HrR2nPSR1kOX1qjm+oHooQtbDpDBSITgyl7QXZApvDfDWvKjkUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../../lib/bootstrap-advanced/dist/js/bootstrap-advanced.js"></script>

        <!-- DataTables -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap.min.js" integrity="sha512-F0E+jKGaUC90odiinxkfeS3zm9uUT1/lpusNtgXboaMdA3QFMUez0pBmAeXGXtGxoGZg3bLmrkSkbK1quua4/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Pace JS -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/pace.min.js" integrity="sha512-2cbsQGdowNDPcKuoBd2bCcsJky87Mv0LEtD/nunJUgk6MOYTgVMGihS/xCEghNf04DPhNiJ4DZw5BxDd1uyOdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Google Auth -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <!-- Main JS -->
        <script src="../../js/zh-TW/decklist.js"></script>
    </body>
</html>